Repository UNNT-ACC-VATSIM/UNNT-Sectorfile, pull requests merged in 2025-04, with the labels that each got.

#56 Отобрежние ЗО ВПП 34
  Plugins/TopSky/TopSkyMaps.txt
Labels: 🚨 Bug, 🧩Plugin - TopSky

#57 Updated UNNT apron
  Plugins/GRPlugin/GRpluginMaps.txt
Labels: 🔧 Enhancement, 🧩 Plugin - Ground Plugin

#59 Исправлено отображание зоны контроля (заливка Тюмень контроль)
  Plugins/TopSky/TopSkyMaps.txt
Labels: 🔧 Enhancement, 🧩Plugin - TopSky

#60 Добавил все аэропорты
  Plugins/TopSky/TopSkyMSAW.txt
Labels: 🔧 Enhancement, 🧩Plugin - TopSky

#62 Update LoginProfiles.txt AIRAC2504
  Settings/LoginProfiles.txt
Labels: 🔧 Enhancement

#63 Add files via upload
  Plugins/GRPlugin/GRplugin.dll
  Plugins/GRPlugin/Ground Radar plugin for EuroScope - Developer Guide.pdf
  Plugins/GRPlugin/Ground Radar plugin for EuroScope - General.pdf
  Plugins/GRPlugin/Ground Radar plugin for EuroScope - Version History.pdf
Labels: 🧩 Plugin - Ground Plugin

#64 Добавлены ограничение по высоте UNTT RNAV 21
  Plugins/TopSky/TopSkyMaps.txt
Labels: 🚨 Bug, 🧩Plugin - TopSky

#65 Update stands UNBB, UNEE to A2*N, A1*N, B3*M
  Plugins/GRPlugin/GRpluginStands.txt
Labels: 🧩 Plugin - Ground Plugin

#66 Added QNH to QFE reference table for UNEE
  Plugins/TopSky/TopSkyMaps.txt
Labels: 🧩Plugin - TopSky

#68 Deleted airways
  Plugins/TopSky/TopSkyMaps.txt
Labels: 🧩Plugin - TopSky

#69 Подсветка Вышки (заливка)
  Plugins/TopSky/TopSkyMaps.txt
  Plugins/TopSky/TopSkySettingsLocal.txt
Labels: 🚨 Bug, 🧩Plugin - TopSky
