Repository UNNT-ACC-VATSIM/UNNT-Sectorfile, pull requests merged in 2025-03, with the labels that each got.

#6 Заливка зоны контроля
  Plugins/TopSky/TopSkyMaps.txt
Labels: 🚨 Bug, 🧩Plugin - TopSky

#8 Update TopSkyMaps.txt
  Plugins/TopSky/TopSkyMaps.txt
Labels: 🧩Plugin - TopSky

#13 UNOO_TWR FIX
  Plugins/TopSky/TopSkyMaps.txt
Labels: 🚨 Bug

#25 Убрана желтая подсветка смежников РЦ
  Plugins/TopSky/TopSkyMaps.txt
Labels: 🧩Plugin - TopSky

#30 Настройка Населенных Пунктов + Аэродромов [TOPSKY]
  Plugins/TopSky/TopSkyMaps.txt
Labels: 🧩Plugin - TopSky

#31 Настройка Населенных Пунктов + Аэродромов | Settings
  Plugins/TopSky/TopSkySettings.txt
Labels: 🧩Plugin - TopSky

#36 Update TOWER UNNT О СВЯТОЙ КРЕСТ ИСПРАВЛЕН
  Plugins/TopSky/TopSkyMaps.txt
Labels: 🚨 Bug, 🧩Plugin - TopSky

#38 ASM window opening
  Plugins/TopSky/TopSkySettings.txt
Labels: 🔧 Enhancement, 🧩Plugin - TopSky

#42 Preactive restr
  Plugins/TopSky/TopSkyAreas.txt
Labels: 🔧 Enhancement, 🧩Plugin - TopSky

#43 Высота Перехода | Airspace
  Plugins/TopSky/TopSkyAirspace.txt
Labels: 🔧 Enhancement, 🧩Plugin - TopSky

#49 Исправил отображение точек по границе для КТРов
  Plugins/TopSky/TopSkyMaps.txt
Labels: 🔧 Enhancement, 🧩Plugin - TopSky

#50 Поменял приоритетность и сделал нормально
  Plugins/GRPlugin/GRpluginStands.txt
Labels: 🧩 Plugin - Ground Plugin

#51 Сделал приоритетность у стоянок в НСК и прочее
  Plugins/GRPlugin/GRpluginStands.txt
Labels: 🧩 Plugin - Ground Plugin

#53 GIRUR2F DEP
  Plugins/TopSky/TopSkyMaps.txt
Labels: 🚨 Bug, 🧩Plugin - TopSky
